//
//  Config.xcconfig
//  wwWallet
//
//  Created by Benjamin Erhart on 12.05.25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Avoid accidental checkins:
// git update-index --skip-worktree Config.xcconfig
// git update-index --no-skip-worktree Config.xcconfig

APP_BUNDLE_ID[config=Debug] =
EAF_BUNDLE_ID[config=Debug] =
APP_GROUP[config=Debug] =
DEVELOPMENT_TEAM[config=Debug] =
CODE_SIGN_IDENTITY[config=Debug] = iPhone Developer
APP_PROVISIONING_PROFILE_SPECIFIER[config=Debug] =
EAF_PROVISIONING_PROFILE_SPECIFIER[config=Debug] =
BASE_DOMAIN1[config=Debug] =
BASE_DOMAIN2[config=Debug] =
BASE_DOMAIN3[config=Debug] =
BASE_DOMAIN4[config=Debug] =

APP_BUNDLE_ID[config=Release] =
EAF_BUNDLE_ID[config=Release] =
APP_GROUP[config=Release] =
DEVELOPMENT_TEAM[config=Release] =
CODE_SIGN_IDENTITY[config=Release] =
APP_PROVISIONING_PROFILE_SPECIFIER[config=Release] =
EAF_PROVISIONING_PROFILE_SPECIFIER[config=Release] =
BASE_DOMAIN1[config=Release] =
BASE_DOMAIN2[config=Release] =
BASE_DOMAIN3[config=Release] =
BASE_DOMAIN4[config=Release] =

MARKETING_VERSION = 0.1.0
CURRENT_PROJECT_VERSION = 20

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) APP_GROUP="$(APP_GROUP)" BASE_DOMAIN1="$(BASE_DOMAIN1)" BASE_DOMAIN2="$(BASE_DOMAIN2)" BASE_DOMAIN3="$(BASE_DOMAIN3)" BASE_DOMAIN4="$(BASE_DOMAIN4)"
