<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>haip</string>
				<string>openid4vp</string>
			</array>
		</dict>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchScreenColor</string>
	</dict>
	<key>WKAppBoundDomains</key>
	<array>
		<string>$(BASE_DOMAIN1)</string>
		<string>$(BASE_DOMAIN2)</string>
		<string>$(BASE_DOMAIN3)</string>
		<string>$(BASE_DOMAIN4)</string>
		<string>$(BASE_DOMAIN5)</string>
	</array>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>A0000006472F0001</string>
	</array>
</dict>
</plist>
